@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .backface-visible {
    backface-visibility: visible;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .perspective {
    perspective: 1000px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .text-gradient-1 {
    color: linear-gradient(
      55deg,
      #e900a9 -36.72%,
      #e502ac -16.52%,
      #d806b5 5.22%,
      #c20ec5 28.53%,
      #a318da 53.38%,
      #7d25f5 76.68%,
      #6f2aff 84.45%
    );
  }
}
:root {
  --gradient-radiant-1: linear-gradient(
    55deg,
    #e900a9 -36.72%,
    #e502ac -16.52%,
    #d806b5 5.22%,
    #c20ec5 28.53%,
    #a318da 53.38%,
    #7d25f5 76.68%,
    #6f2aff 84.45%
  );
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --scroll-behavior: smooth !important;
}

.ka-text-gradient-1 {
  background: var(--gradient-radiant-1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ka-bg-gradient-1 {
  background: var(--gradient-radiant-1);
}
.ka-bg-gradient-1:hover {
  background: white;
  > span,
  svg {
    background: var(--gradient-radiant-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.ka-card-gradient-1 {
  background: white;
  span,
  p,
  li {
    background: var(--gradient-radiant-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  ul {
    list-style: none;
  }
  ul li::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    height: 1rem;
  }
}

.custom_title {
  text-shadow:
    3px 3px 0 #fff,
    -2px -2px 0 #fff,
    3px -2px 0 #fff,
    -2px 3px 0 #fff,
    3px 3px 0 #fff;
}

.timeline-component {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 990px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.timeline-title {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
}
.timeline-circle {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  width: 15px;
  height: 15px;
  max-height: 15px;
  max-width: 15px;
  min-height: 15px;
  min-width: 15px;
  border-radius: 100%;
  background: var(--gradient-radiant-1);
  box-shadow: 0 0 0 8px #fff;
}
.social-icon:hover path {
  fill: url(#standard);
}
